@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../font/Gilroy-Medium.woff2') format('woff2'),
    url('../font/Gilroy-Medium.woff') format('woff'),
    url('../font/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: Gilroy, serif !important;
}

input {
    color: white;
}

textarea {
    color: white;
}

input:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: none !important;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #1D2636;
    border-bottom: 1px solid #293858;
}

.label, .menu {
    padding: 18px 28px 17px 34px;
    display: block;
}

.label {
    padding-top: 14px;
}

.menu {
    padding-left: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.menu a:nth-child(1) {
    padding-right: 16px;
}

.menu a:nth-child(2) {
    padding-right: 16px;
}

.headerLine {
    margin-top: 6px;
    width: 1px;
    height: 32px;
    background: linear-gradient(180deg, rgba(41, 56, 88, 0) 0%, #293858 51.69%, rgba(41, 56, 88, 0) 100%);
}

.label a {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.blockAuth {
    display: flex;
    margin: 13px 36px 13px 0;
}


.singInButton, .registrationButton {
    background: #2B374A;
    border-radius: 3px;
    color: #ffff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    padding: 9px 14px;
}

.singInButton:hover {
    background: #364359;
    border-radius: 3px;
}

.registrationButton:hover {
    background: linear-gradient(99.1deg, #5FAEFF -0.38%, #00FFFF 118.58%);
    border-radius: 3px;
}

.singInButton {
    margin-right: 16px;
}

.registrationButton {
    background: linear-gradient(99.1deg, #0A84FF -0.38%, #00FFFF 118.58%);

}

.carousel {
    background: #151C28;
    padding: 100px 63px;

}

.liveBroadCastBlock, .CategoryToBeLike {
    display: flex;
    justify-content: space-between;
}

.CategoryToBeLike {
    margin-bottom: 60px;
}

.playListVideosLive {
    background: #1A2230;
    padding: 0 36px 45px;
}

.playListVideosLiveLabel {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.05em;
    text-align: left;
    padding: 66px 0 63px;
}

.playListVideosLiveLabel span {
    color: #03DCFF;
}

.playListBlockAllVideosLive, .CategoryToBeLikeChannels {
    display: flex;
    margin-right: 20px;
}

.playListBlockAllVideosLive:last-child {
    margin-right: 0;
}


.lifePeopleWatch {
    background: rgba(255, 57, 70, 0.4);
    border: 1px solid #FF3946;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 16px;
    display: flex;
    padding-right: 5px;
}

.lifePeopleWatch span {
    width: 7px;
    height: 7px;
    display: block;
    background: #FF3946;
    border-radius: 50px;
    margin: 5px 6px;
}


.lifeBroadcast {
    border-radius: 1px;
    max-width: 316px;
    max-height: 178px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.playListAllVideoInfo {

}

.categoryPlayListAllVideoInfo {
    max-width: 160px;
}


.lifeBroadcast:hover {
    background: linear-gradient(0deg, rgba(21, 28, 40, 0.15), rgba(21, 28, 40, 0.15));
    border: 1px solid #03DCFF;
    box-sizing: border-box;
    border-radius: 1px;
}

.playListVideoInfoTextName:hover {
    color: #03DCFF;
    cursor: pointer;
}

.channelPeople {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.playListVideoInfo {
    display: flex;
    margin: 10px 0;
}

.playListAllVideoInfo span p {
    background: #815AF6;
    border-radius: 3px;
    font-size: 11px;
    line-height: 8px;
    color: #ffffff;
    padding: 5px 8px;
    margin: 0 5px;
}

.lifePeopleWatch {
    background: rgba(255, 57, 70, 0.4);
    border: 1px solid #FF3946;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    position: absolute;
}

.playListVideoInfoText {
    text-align: left;
    margin-left: 8px;
}

.playListVideosLiveText {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.playListVideoInfoText:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.05em;
    margin-bottom: 3px;
}

.playListVideoInfoTextName {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #5F6877;
}

.playListVideoInfoText:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #697485;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
}

.categoryListVideoInfoText {
    margin-left: 0;
}

.videoTags {
    display: flex;
    height: 24px;
}

.videoTag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #697485;
    background: #2B374A;
    border-radius: 5px;
    padding: 5px 9px;
}


.videoTag:nth-child(1) {
    margin-right: 8px;
}

.videoTagCategory {
    letter-spacing: 0;
    margin-right: 0 !important;
}

.singInBlock {
    position: fixed;
    left: 38%;
    top: 15%;
    z-index: 9999;
    display: block;
    padding: 0 5px;
    width: 498px;
    background: #1B2331;
    box-shadow: 25px 40px 24px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.welcome {
    font-size: 30px;
    line-height: 35px;
    color: white;
    text-align: center;
    margin: 35px 0 30px;
}

.sinInTab {
}

.sinInTab div h4 {
    text-align: left;
    color: white;
    margin: 13px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.sinInTab div p {
    color: white;
    text-align: center;
}

.tab-content {
    padding: 20px 40px;
}

.tab-content > .active {
    margin-top: 30px;
}

.sinInTab div input {
    background: #262F40;
    border-radius: 3px;
    border: none;
    width: 100%;
    height: 30px;
}

.checkPasswordSingIn {
    position: absolute;
    right: 12%;
    top: 54%;
    width: 14px;
}

.buttonEnter {
    padding: 16px 0;
    width: 351px;
    height: 51px;
    margin: 0 auto;
}

.singInSystem {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.singInSystemBlock {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 0 17px;
}

.checkPassword {
    position: absolute;
    right: 11%;
    top: 37.9%;
    width: 14px;
}

.checkPasswordDone {
    position: absolute;
    right: 11%;
    top: 47.5%;
    width: 14px;
}

.sinInTab a {
    font-size: 16px;
    line-height: 19px;
    color: white !important;
    border-radius: 10px;
    max-width: 351px;
    display: block;
    text-align: center;
    background: linear-gradient(90deg, #0A84FF 48.97%, #00FFFF 100%);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    background: linear-gradient(180deg, rgba(10, 132, 255, 0.005) 16.15%, rgba(10, 132, 255, 0.25) 100%) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs {
    cursor: pointer;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none !important;
}

.nav-tabs {
    border-bottom: 1px solid rgba(10, 132, 255, 1) !important;
    margin: 0 15px;
}

.nav-link {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    padding: 5px;
}

.modalTab {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faceBookSingIn {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding-bottom: 34px;
}

.errorBlock {
    position: absolute;
    background: #FE6565;
    padding: 6px;
    color: white;
    font-size: 15px;
    line-height: 23px;
    width: 100%;
    height: 60px;
    border-radius: 12px;
}

.userBlock {
    display: flex;

}

.userBlockInfo {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #0A84FF !important;
}

.userBlockInfo img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    margin-right: 13px;
}


.userBlock p {
    padding-right: 10px;
    color: white;
}

.recoveryBlock {
    color: white;
    position: fixed;
    z-index: 9999999;
    display: block;
    padding: 0 5px;
    width: 498px;
    background: #1B2331;
    box-shadow: 25px 40px 24px 15px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.recoveryBlock h4 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.recoveryBlock p {
    font-size: 14px;
    line-height: 150%;
    padding: 20px 0;
}

.recoveryBlock input {
    width: 100%;
    background: #46454A;
    border-radius: 3px;
    border: none;
}

.recoveryButton {
    line-height: 19px;
    color: white !important;
    background: #815AF6;
    width: 300px;
    display: inline-block;
    margin: 19px 5px;
    padding: 10px;
    background: linear-gradient(90deg, #0A84FF 56.01%, #02F0FF 109.4%);
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(270deg, #05C9FF 0.01%, #0A84FF 96.58%, rgba(5, 201, 255, 0) 101.33%);
    border-radius: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerInfo {
    display: flex;
    color: white;
    margin: 12px 0 12px 36px;
}

.footerInfo p {
    margin-left: 16px;
    padding-top: 7px;
}

.footerButton {
    background: #FFFFFF;
    border-radius: 3px;
    width: 106px;
    height: 30px;
    margin: 14px 36px 14px 0;
    padding-top: 6px;
}

.footerButton a {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #126583 !important;
}

.slider-left {
    background: #202A3A;
    border-radius: 2px;
    width: 48px;
    margin-right: 15% !important;
    height: 215px !important;
    margin-top: 47px;
}

.slider-right {
    background: #202A3A;
    border-radius: 2px;
    width: 48px;
    height: 215px !important;
    margin-top: 47px;
    margin-left: 15% !important;
}

.react-3d-carousel .slider-container .slider-left div {
    border: none !important;
    border-top: 2px solid #ffff !important;
    border-right: 2px solid #ffffff !important;
    display: block;
    margin-left: 17px;
    transform: rotate(
            -135deg
    ) !important;
}

.react-3d-carousel .slider-container .slider-right div {
    border: none !important;
    border-top: 2px solid #ffff !important;
    border-right: 2px solid #ffffff !important;
    display: block;
    margin-left: 6px;
    transform: rotate(
            45deg
    ) !important;
}


.playerVideo {
    background: #151C28;
    display: flex;
    height: 95vh;
}

.playerVideoInfo {
    display: flex;
}

.playerVideoPeopleInfo {
    margin-left: 9px;
}

.playerVideoInfo img {
    width: 48px;
    height: 48px
}

.playerVideoInfoText:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-bottom: 2px;
}

.playerVideoInfoText:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.playerVideoTag {
    margin-right: 8px;
}

.playerVideoTag:first-child {
    margin-left: 10px;
}

.playerVideoTagAndInfo, .playerVideoInfoBlock, .playerVideoBlockLiveWatch {
    display: flex;

}

.playerVideoBlockLiveWatch {
    margin-top: 18px;

}

.playerVideoBlockLiveWatch p img {
    margin-right: 10px;
    vertical-align: bottom;
}

.playerVideoInfoBlock {
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 74px;
    border-top: 1px solid #293858;
}


.playerVideoBlockLiveWatch p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #414E62;
    margin-right: 21px;
    margin-top: 8px;


}

.playerVideoBlockLiveWatch p:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #FF3946;
}

.playerVideoBlockLiveWatchButtonLike {
    background: linear-gradient(90deg, #FF3946 67.47%, #FF7D86 127.07%);
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 123px;
    height: 31px;
    padding: 7px 0;
    margin-right: 17px;
}

.playerVideoBlockLiveWatchButtonLikeImg {
    margin-right: 9px;
    vertical-align: text-top;
}

.playerVideoBlockLiveWatchButtonSub {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: linear-gradient(90deg, #0A84FF 67.47%, #00FFFF 127.07%);
    border-radius: 5px;
    width: 120px;
    height: 31px;
    padding: 7px 0;
    margin-right: 23px;
}


.chatInput {
    background: #262F40;
    border-radius: 5px;
}

.chatBlock {
    width: 370px;
    border: 1px solid #293858;
    margin-bottom: 74px;
    margin-right: 34px;
    background: #1B2331;
    border-bottom: none;
}

.playerVideo {
    display: flex;
}

.playerVideoBlock {
    width: 100%;
    margin-left: 36px;
    height: 100%;
}

.chatBlockInput {
    position: relative;
    top: 87%;
    width: 335px;
    margin: 0 16px;
}

.chatBlockNonSingIn span {
    color: #03DCFF;
    cursor: pointer;
}

.react-input-emoji--button {
    left: 12px;
    position: absolute;
}

.react-input-emoji--placeholder {
    padding-left: 31px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #4E5C76;
}

.react-input-emoji--wrapper {
    padding-left: 35px;
}

.react-input-emoji--container {
    font-size: 15px !important;
    background: #262F40 !important;
    border-radius: 5px !important;
    border: none !important;
}

.react-input-emoji--input {
    color: white;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.chatBlockInput a {
    background: linear-gradient(152.99deg, #0A84FF 7.12%, #05C9FF 83.12%);
    border-radius: 5px;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 43px;
}

.playerVideoBlockLiveWatchBlock {
    display: flex;
}

.nav-tabs .nav-link {
    margin-bottom: 0;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.onlineBroadcast {
    border: 1px solid #293858;
    box-sizing: border-box;
    border-radius: 2px;
    width: 540px;
    height: 304px;
}

.carouselInfoBroadcastBlock {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    display: flex;
    margin-left: 15px;
}

.carouselInfoBroadcastBlock div {
    text-align: left;
}

.carouselInfoBroadcastText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
}

.carouselInfoBroadcastText:last-child {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.channelPeopleCarousel {
    width: 32px;
    height: 32px;
}

svg {
    position: absolute;
    left: 48%;
    top: 40%;
}

.SettingUser {
    width: 100%;
    background: #151C28;
}

.SettingUserBlocks {
    width: 899px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.chatBlockNonSingIn {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4E5C76;
    width: 280px;
    margin: 0 auto;
}

.settingTitle {
    margin-bottom: 20px;
}

.SettingProfile {
    margin-bottom: 32px;
}

.SettingProfileTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
}


.SettingProfileBlock {
    background: #1A2230;
    border-radius: 4px;
}

.SettingProfileTitleName {
    width: 167px;
    margin-right: 16px;
    text-align: left;
}

.SettingProfileBlockPhoto {
    display: flex;
    padding: 32px 32px 27px 32px;
    border-bottom: 1px solid #293858;
}

.SettingProfileBlockPhoto:last-child {
    border-bottom: none;
}

.SettingProfileBlockPhotoImageEdit {
    margin-left: 30px;
}

.SettingProfileBlockPhotoImage img {
    width: 64px;
    height: 64px;
    border-radius: 42px;
}

.SettingProfileBlockPhotoImageEditButton {
    background: linear-gradient(90deg, #0A84FF 57.37%, #00FFFF 110.67%);
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 7px 0 6px 0;
    width: 253px;
    cursor: pointer;
}

.SettingProfileBlockPhotoImageEditText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #4E5C76;
}

.SettingProfileBlockNameUser {
    background: #2A364A;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 7px 0 7px 16px;
}

.SettingProfileBlockNameUser:focus {
    border: none !important;
}

.SettingProfileBlockEdit {
    width: 78%;
}

.SettingProfileBlockEditInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #4E5C76;
    text-align: left;
    margin-top: 16px;
}

.SettingProfileBlockEditInfo span {
    color: #03DCFF;
    cursor: pointer;
}

.SettingProfileBlockEditInfoPassword {
    margin-top: 0;
}

.SettingProfileBlockEditPlugAuth {
    background: #2A364A;
    border-radius: 4px;
    width: 253px;
    padding: 7px 0 6px 0;
    cursor: pointer;
}

.SettingProfileBlockEditBroadcast {
    display: flex;
}

.SettingProfileBlockBroadCastKeyButtonRefresh {
    background: #2A364A;
    border-radius: 3px;
    height: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    padding: 9px 3px 8px 3px;
    cursor: pointer;
}

.SettingProfileBlockBroadCastKeyButtonCopy {
    background: linear-gradient(90deg, #0A84FF 57.37%, #00FFFF 110.67%);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    padding: 9px 17px 8px 16px;
    border-radius: 3px;
    color: #ffffff;
    height: 32px;
    margin: 0 16px;
    cursor: pointer;
}

.SettingProfileBlockBroadCastKeyButtonCopy:last-child {
    margin-right: 0;
}

.SettingProfileBlockPhotoBroadcastInfo {
    border-bottom: none;
}

.SettingProfileBlockPhotoBroadcastInfo:last-child {
    padding: 0 32px 27px 32px;
}

.settingSocialNetworks {
    padding-top: 31px;
    padding-left: 32px;
    padding-bottom: 33px;
}

.SettingProfileNetwork {
    display: flex;
    margin: 16px 0;
}

.SettingProfile:last-child {
    margin-bottom: 0;
}

.SettingProfileNetwork:nth-child(1) {
    margin-top: 0;
}

.SettingProfileNetworksImage {
    background: #2A364A;
    border: 1px solid #0A84FF;
    box-sizing: border-box;
    width: 54px;
    height: 54px;
    border-radius: 45px;
}

.SettingProfileNetworksImage img {
    margin: 15px;
}

.SettingProfileDontNetworks, .SettingProfileDontNetworks p:nth-child(1) {
    color: #323E52 !important;
    border-color: #2A364A;
}

.DiscordStyle {
    border-color: #5562E8;
}

.DiscordStyle p:nth-child(1) {
    color: #5562E8 !important;

}


.SettingProfileNetworksText {
    margin: 0 16px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #4E5C76;
    width: 125px;
}

.SettingProfileNetworksText p:first-child {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #0A84FF;
}

.SettingProfileNetworksInput {
    width: 626px;
    margin-right: 32px;
}

.saveNewData {
    background: #1E2736;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 32px 19px 0;

}

.saveNewData p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: linear-gradient(90deg, #0A84FF 57.37%, #00FFFF 110.67%);
    border-radius: 4px;
    width: 238px;
    padding: 9px 0;
    cursor: pointer;
}

i.fas {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -46px;
    position: relative;
    z-index: 1;
    float: left;
    margin-left: 11px;
    margin-top: 5px;
}

i.fac {
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin-right: 8px;
    position: relative;
    z-index: 1;
    float: left;
    margin-left: -36px;
    margin-top: 5px;
    cursor: pointer;
}

.resetPasswordBlock {
    padding: 0 31px 0 51px;
}

.resetPasswordBlockTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px !important;
    line-height: 36px !important;
    text-align: center !important;
}


.resetPasswordBlock p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}


.resetPasswordBlock input {
    background: #262F40;
    border-radius: 3px;
}

@media (min-width: 600px) and (max-width: 1350px) {
    .playerVideoBlockLiveWatch {
        margin-top: 0;
        flex-flow: column;
    }

    .playerVideoBlockLiveWatchBlock:first-child {
        justify-content: space-around;
        padding-bottom: 20px;
    }

    .playerVideoInfoText:last-child {
        font-size: 15px;
    }

    .playerVideoTagAndInfo {
        flex-flow: column;
    }

    .playerVideoTag:first-child {
        margin-left: 0;
    }
}


.input__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    text-align: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input__file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input__file-button {
    max-width: 290px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}